<div class='navigation'>
  <ul>
    <li><a id="/'" href='#/' class='index'>All Links</a></li>
    <li><a id="/create" href='#/create' class='create'>Shorten</a></li>
  </ul>
  <a href='/logout' class='logout'>Logout</a>
</div>

<div class="container" ng-app="Shortly">
  <div ng-view></div>
</div>