<div ng-controller="Links">
  <div class="tools">
    <input ng-model="searchcritter.title" type="search">
    <button ng-click="critter = '__v'">Order By Visits</button>
    <button ng-click="critter = 'updatedAt'">Order By Hottest</button>
    <button ng-click="critter = 'createdAt'">Order By Latest</button>
  </div>
  <div ng-repeat="link in links | filter:searchcritter | orderBy:critter:true" class="link">
    <img src='/redirect_icon.png'/>
    <div class='info'>
      <div class='visits'><span class='count'>{{link.__v}}</span>Visits</div>
      <div class='title'>{{link.title}}</div>
      <div class='original'>{{link.url}}</div>
      <a href='{{link.base_url}}/{{link.code}}'>{{link.base_url}}/{{link.code}}</a>
    </div>
  </div>
</div>